<div class="footer bg-color">
  <div class="footer-main">
    <div class="link">
      <a href="https://github.com/yuang01/hexo-theme-bamboo">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a href="mailto:1730241541@qq.com">
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </a>
      <a href="tencent://AddContact/?fromId=50&fromSubId=1&subcmd=all&uin=1730241541">
        <i class="fa fa-qq" aria-hidden="true"></i>
      </a>
      <a href="/atom.xml" target="_blank">
        <i class="fa fa-rss" aria-hidden="true"></i>
      </a>
    </div>
    <div class="footer-copyright">
      Powered by <a href="https://hexo.io/zh-cn/docs/">Hexo</a> | Theme <a href="https://github.com/yuang01/theme">Bamboo</a>
    </div>

    Copyright © 2017 - 2021 <a href="https://github.com/Starrier">Starrier</a> All Rights Reserved  <a href="https://beian.miit.gov.cn">  苏ICP备17039741号-2
    <div style="width:300px;margin:0 auto; padding:20px 0;">

      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32011102010240" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="https://cdn.jsdelivr.net/gh/Starrier/configure-resources/images/core/beian-log.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备 32011102010240号</p></a>
    </div>

  <% if(theme.busuanzi.on === true ) { %>
      <%- partial('_partial/busuanzi') %>
    <% } %>
  </div>
</div>
